.adds-company{
    background-image: url("../images/zdaniya\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
    height: 800px;
}

.title{
    padding: 224px 0 68px 47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 157px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.company-text{
    max-width: 1009px;
    padding: 0 0 117px 47px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 0.15em;
    color: rgba(255, 255, 255, 0.8);
}